# Intellij
.idea
out
*.iml
services/user-service/node_modules
services/user-service/dist
services/auth-service/node_modules
services/auth-service/dist
services/movie-service/node_modules
services/movie-service/dist
services/rating-service/node_modules
services/rating-service/dist