<!-- This will be a form to search for a movie -->
{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 fw-normal text-center">Search for your movie HERE</h1>
        <div class="form-floating">
          {{ form.query_string(placeholder="Search Query", class="form-control mb-2") }}
          {{ form.query_string.label }}
            {% if form.query_string.errors %}
              {% for error in form.query_string.errors %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
              {% endfor %}
            {% endif %}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Search</button>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
